@import url("variables.css");

* {
  font-family: "Encode Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  text-align: center;
  max-width: 1250px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
}

header span {
  display: block;
  margin-bottom: 20px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
  transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  color: var(--title-color, black);
}

header nav ul li a:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.color-1 a {
  color: var(--primary-title-color);
}

.color-2 a {
  color: var(--secondary-title-color);
}

.color-3 a {
  color: var(--tertiary-title-color);
}

.color-4 a {
  color: var(--quaternary-title-color);
}

.color-5 a {
  color: var(--quinary-title-color);
}

.color-6 a {
  color: var(--senary-title-color);
}

.color-7 a {
  color: var(--septenary-title-color);
}

.color-8 a {
  color: var(--octonary-title-color);
}

.color-9 a {
  color: var(--ninth-title-color);
}

.color-10 a {
  color: var(--tenth-title-color);
}

main div section {
  width: 624px;
  text-align: left;
  line-height: 1.4;
}

main div section h1 {
  font-size: 52px;
  color: var(--main-news-color);
  margin-bottom: 30px;
}

main div section h2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--subtitle-color);
  margin-bottom: 10px;
}

.horizontal-line {
  width: 624px;
  height: 1px;
  background-color: var(--line-color);
  border: none;
  margin: 40px 0;
}

.vertical-line {
  margin: 15px 20px;
  width: 1px;
  height: 940px;
  background-color: var(--line-color);
}

.custom-image {
  width: 193px;
  height: 110px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-text {
  display: block;
  font-size: 18px;
  color: red;
  text-align: center;
  width: 193px;
  height: 110px;
  line-height: 110px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

main {
  display: flex;
}

main div div {
  display: flex;
  justify-content: space-between;
  width: 630px;
}

main div div section {
  text-align: left;
}

main div div section a {
  text-decoration: none;
  color: inherit;
}

main div div section h1 {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-news-color);
  margin-bottom: 10px;
}

main div div section h2 {
  display: BLOCK;
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary-subtitle-color);
  margin-bottom: 10px;
}

main div div section p {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-subtitle-color);
  margin-bottom: 10px;
}

footer {
  background-color: #333333;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
